<div class="row">
  <div class="one column">
	  <p>1</p>
	</div>
	<div class="five columns">
	  <p>5</p>
	</div>
	<div class="ten columns">
	  <p>10</p>
	</div>
</div>
<div class="row">
	<div class="two columns">
	  <p>2</p>
	</div>
	<div class="fourteen columns">
	  <p>14</p>
	</div>
</div>
<div class="row">
	<div class="three columns">
	  <p>3</p>
	</div>
	<div class="thirteen columns">
	  <p>13</p>
	</div>
</div>
<div class="row">
	<div class="four columns">
	  <p>4</p>
	</div>
	<div class="twelve columns">
	  <p>12</p>
	</div>
</div>
<div class="row">
	<div class="five columns">
	  <p>5</p>
	</div>
	<div class="eleven columns">
	  <p>11</p>
	</div>
</div>
<div class="row">
	<div class="six columns">
	  <p>6</p>
	</div>
	<div class="ten columns">
	  <p>10</p>
	</div>
</div>
<div class="row">
	<div class="seven columns">
	  <p>7</p>
	</div>
	<div class="nine columns">
	  <p>9</p>
	</div>
</div>
<div class="row">
	<div class="eight columns">
	  <p>8</p>
	</div>
	<div class="eight columns">
	  <p>8</p>
	</div>
</div>
<div class="row">
	<div class="four columns">
	  <p>4</p>
	</div>
	<div class="four columns">
	  <p>4</p>
	</div>
	<div class="four columns">
	  <p>4</p>
	</div>
	<div class="four columns">
	  <p>4</p>
	</div>
</div>
